.row
    %form.column.admin-add{:method => "POST"}
        %fieldset
            %legend Add lines
            - (1..@range[:value]).each do |counter|
                %label
                    %input{:type => "text", :name => "line#{counter}"}
            %label
                %button{:type => "submit"} 
                    ADD
                    %span +

.row
    .column
        - unless (@lines.length > 0)
            %p No lines yet!
        - else
            %ul.admin-list.messy
                - @lines.each do |line|
                    %li
                        %a.delete-lyric{:href => "/admin/delete/#{line.id}", :onclick => "return confirm('Are you sure?');"} ✖
                        #{line.content}