.main.large-8.columns  
  %h2 Generate placeholder text

  %form
    %label
      Lines
      %select.amount
        - (1..100).each do |counter|
          %option{:value => counter, :selected => ('selected' if counter == 10)} #{counter}

    %textarea.result

.api.large-4.columns
  %h2 Remotely

  %p
    Just query
    %a{:href => '/api/n'}= "#{request.base_url}/api/n"
    where n is an integer from 1 to 100 representing the amount of lines you need. You will get these in JSON format.
    %br
    For the record, this is the exact same API this application itself queries when you use it.