.row
  .main.large-8.columns
    %form
      .lineSelector
        %button.refresh{:type => 'button'}
          refresh
          %span ⟳
        %span.lines 0
        %input{:type => 'range', :class=> 'amount', :min => @range[:min], :max => @range[:max], :value => @range[:value]}

      %p.result

  .api.large-4.columns
    %h2 JSON API

    %ul
      %li
        Call
        %a.apiLink{'data-href' => "https://dfill.neemzy.org/api/", :href => ''}
      %li You can request from #{@range[:min]} to #{@range[:max]} lines
