.main.large-8.columns  
  %h2 Generate placeholder text with song lyrics

  %form
    .lineSelector
      %button.refresh{:type => 'button'}
        %span ⟳
      %span.lines 0
      %input{:type => 'range', :class=> 'amount', :min => @range[:min], :max => @range[:max], :value => @range[:value]}

    %p.result

.api.large-4.columns
  %h2 REST API

  %ul
    %li
      Call
      %a.apiLink{'data-href' => "#{request.base_url}/api/", :href => ''}
    %li The amount ranges from #{@range[:min]} to #{@range[:max]}
    %li The result will be a JSON array