@import 'scss/normalize'
@import 'scss/foundation'

h2
    font-size: 1.375em

body > footer dl
    margin-bottom: 0
    font-size: 0.75em

    dt, dd
        display: inline

.admin-list
    list-style-type: none

.admin-add button
    float: right
    margin: 1.25em 0 0