$blue: #2ba6cb

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  margin: 0
  font-family: "Open sans", Helvetica, Arial, sans-serif

body > footer
  .column
    width: 100%
  .hr
    margin-top: 0.25em
    padding: 1.25em 0
    border-top: 1px solid #cccccc
  dl
    margin-bottom: 0
    font-size: 0.75em
  dt, dd
    display: inline


a
  color: darken($blue,20)
  &:hover,
  &:focus
    color: $blue
  &:active
    color: #999
header
  background: $blue
  margin-bottom: 20px
  padding: 20px
  h1
    color: white
    display: inline-block
    margin-bottom: 0
    line-height: 1.2
  h2
    color: white
    display: block
    margin-top: 0
    margin-bottom: 1em
    font-size: 15px
    font-weight: normal
.row 
  max-width: 960px
  margin: 0 auto
.lineSelector
  line-height: 32px
  margin-bottom: 20px

.refresh
  cursor: pointer
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  display: block
  float: right
  border: 0
  padding: 0 0 0 10px
  margin-bottom: 0
  width: 100px
  line-height: 32px
  text-align: left
  color: $blue
  background: #eee
  span
    display: inline-block
    float: right
    text-align: center
    font-size: 28px
    height: 32px
    width: 32px
    background: $blue
    color: #fff
  &:hover 
    background: $blue
    color: #fff


.lines
  color: $blue
  font-weight: bolder

.amount
  cursor: pointer
  width: 100%
  -webkit-appearance: none
  background: $blue
  height: 6px
  border-radius: 3px
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1)
  outline: none

.amount::-webkit-slider-thumb
  -webkit-appearance: none
  width: 18px
  height: 18px
  border: 5px solid $blue
  border-radius: 50%
  background: #fff
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3)

.api
  h2
    font-size: 1.375em
    color: darken($blue,20)
  ul li
    position: relative
    list-style: none
    line-height: 2em
    &:before
      content: ''
      position: absolute
      left: -15px
      top: 0.95em
      display: block
      height: 7px
      width: 7px
      background: $blue
      border-radius: 50%

.result
  clear: both
  text-align: justify
  line-height: 1.3em
.admin-add
  background: #eee
  fieldset
    border: none
    color: $blue
    font-weight: bolder
  input[type='text']
    width: 360px
    height: 32px
    margin: 5px
    border: 1px solid #ccc
    transition: border 0.2s
    outline: none
    &:focus
      border-color: $blue
  button    
    cursor: pointer
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    display: block
    float: right
    border: 0
    padding: 0 0 0 10px
    margin-bottom: 0
    width: 100px
    line-height: 32px
    text-align: left
    color: #fff
    background: $blue
    transition: all 0.2s
    span
      display: inline-block
      float: right
      text-align: center
      font-size: 28px
      height: 32px
      width: 32px
      background: darken($blue,10)
      color: #fff
    &:hover 
      background: #fff
      color: $blue
.admin-list
  list-style-type: none
  font-size: 12px
  text-align: center
  &.messy
    li
      display: inline-block
      margin-left: 10px
      &:hover
        background: $blue
        color: #fff
  li:hover
    .delete-lyric
      color: #fff
      background: $blue
  .delete-lyric
    display: inline-block
    font-size: 10px
    width: 16px 
    height: 16px
    line-height: 16px
    text-align: center
    text-decoration: none
    border-radius: 50%
    color: #bbb
    transition: all 0.2s
    &:hover
      color: #fff
      background: $blue
.admin-add button
  float: right
  margin: 0


.column, .columns
  display: inline-block
  vertical-align: top
  padding: 20px
  
.large-4
  width: 38%
.large-8
  width: 60%